 <div class="col-lg-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-warning pull-right">09/06/2016</span>
                        <h3>Financiera BANCOMER</h3>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-xs-6">
                                <small class="stats-label">Deuda Total</small>
                                <h2>$5,236 321.80</h2>
                            </div>

                            <div class="col-xs-6">
                                <small class="stats-label">Intereses</small>
                                <h2>$643 321.10</h2>
                            </div>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-xs-4">
                                <small class="stats-label">Unidades</small>
                                <h4>643</h4>
                            </div>

                            <div class="col-xs-4">
                                <small class="stats-label">Esquemas</small>
                                <h4>9</h4>
                            </div>
                            <div class="col-xs-4">
                                <small class="stats-label">Tasa</small>
                                <h4>8%</h4>
                            </div>
                        </div>
                    </div>
                </div>
</div>
                
               
              
             
            
           Nombre Financiera
           Esquemas
           Unidades
           Deuda
           Intereses
           Tasa