<div ng-init="init()">
   <div class="headTitleInicio">
    <h2> Bienvenidos</h2>
</div>
<br/>
<div class="row">
    <div class="col-lg-3">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <span class="label label-success pull-right">MES</span>
                <h5>Días Gracia</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">40 Días</h1>
                <div class="stat-percent font-bold text-success">10% <i class="fa fa-bolt"></i></div>
                <small>Unidades: 60</small>
                <br/>
                <small><a href="/freedays">Ver detalles</a></small>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <span class="label label-info pull-right">MES</span>
                <h5>Intereses</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">$275,800.00</h1>
                <div class="stat-percent font-bold text-info">80% <i class="fa fa-level-up"></i></div>
                <small>Unidades: 50</small>
                <br/>
                <small><a href="/interest">Ver detalles</a></small>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <span class="label label-primary pull-right">ANUAL</span>
                <h5>Intereses</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">$1,706,120.00</h1>
                <div class="stat-percent font-bold text-navy">44% <i class="fa fa-level-up"></i></div>
                <small>Unidades: 3000</small>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <span class="label label-danger pull-right">MES</span>
                <h5>Fuera del margen</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">$80,600.00</h1>
                <div class="stat-percent font-bold text-danger">28% <i class="fa fa-level-down"></i></div>
                <small>Unidades: 60</small>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Estadisticas</h5>
                <div class="pull-right">
                    <div class="btn-group">
                        <button type="button" class="btn btn-xs btn-white active">Hoy</button>
                        <button type="button" class="btn btn-xs btn-white">Semanal</button>
                        <button type="button" class="btn btn-xs btn-white">Mensual</button>
                    </div>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="flot-chart">
                            <div class="flot-chart-content" id="flot-dashboard-chart" style="padding: 0px; position: relative;">
                                <canvas class="flot-base" width="772" height="200" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 772px; height: 200px;"></canvas>
                                <div class="flot-text" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; font-size: smaller; color: rgb(84, 84, 84);">
                                    <div class="flot-x-axis flot-x1-axis xAxis x1Axis" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; display: block;">
                                        <div class="flot-tick-label tickLabel" style="position: absolute; max-width: 64px; top: 185px; left: 63px; text-align: center;">Jan 03</div>
                                        <div class="flot-tick-label tickLabel" style="position: absolute; max-width: 64px; top: 185px; left: 133px; text-align: center;">Jan 06</div>
                                        <div class="flot-tick-label tickLabel" style="position: absolute; max-width: 64px; top: 185px; left: 204px; text-align: center;">Jan 09</div>
                                        <div class="flot-tick-label tickLabel" style="position: absolute; max-width: 64px; top: 185px; left: 275px; text-align: center;">Jan 12</div>
                                        <div class="flot-tick-label tickLabel" style="position: absolute; max-width: 64px; top: 185px; left: 345px; text-align: center;">Jan 15</div>
                                        <div class="flot-tick-label tickLabel" style="position: absolute; max-width: 64px; top: 185px; left: 416px; text-align: center;">Jan 18</div>
                                        <div class="flot-tick-label tickLabel" style="position: absolute; max-width: 64px; top: 185px; left: 486px; text-align: center;">Jan 21</div>
                                        <div class="flot-tick-label tickLabel" style="position: absolute; max-width: 64px; top: 185px; left: 557px; text-align: center;">Jan 24</div>
                                        <div class="flot-tick-label tickLabel" style="position: absolute; max-width: 64px; top: 185px; left: 627px; text-align: center;">Jan 27</div>
                                        <div class="flot-tick-label tickLabel" style="position: absolute; max-width: 64px; top: 185px; left: 698px; text-align: center;">Jan 30</div>
                                    </div>
                                    <div class="flot-y-axis flot-y1-axis yAxis y1Axis" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; display: block;">
                                        <div class="flot-tick-label tickLabel" style="position: absolute; top: 173px; left: 19px; text-align: right;">0</div>
                                        <div class="flot-tick-label tickLabel" style="position: absolute; top: 132px; left: 6px; text-align: right;">250</div>
                                        <div class="flot-tick-label tickLabel" style="position: absolute; top: 92px; left: 6px; text-align: right;">500</div>
                                        <div class="flot-tick-label tickLabel" style="position: absolute; top: 52px; left: 6px; text-align: right;">750</div>
                                        <div class="flot-tick-label tickLabel" style="position: absolute; top: 12px; left: 0px; text-align: right;">1000</div>
                                    </div>
                                    <div class="flot-y-axis flot-y2-axis yAxis y2Axis" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; display: block;">
                                        <div class="flot-tick-label tickLabel" style="position: absolute; top: 173px; left: 760px;">1000</div>
                                        <div class="flot-tick-label tickLabel" style="position: absolute; top: 144px; left: 760px;">5000</div>
                                        <div class="flot-tick-label tickLabel" style="position: absolute; top: 115px; left: 760px;">10000</div>
                                        <div class="flot-tick-label tickLabel" style="position: absolute; top: 87px; left: 760px;">15000</div>
                                        <div class="flot-tick-label tickLabel" style="position: absolute; top: 58px; left: 760px;">20000</div>
                                        <div class="flot-tick-label tickLabel" style="position: absolute; top: 29px; left: 760px;">25000</div>
                                        <div class="flot-tick-label tickLabel" style="position: absolute; top: 1px; left: 760px;">30000</div>
                                    </div>
                                </div>
                                <canvas class="flot-overlay" width="772" height="200" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 772px; height: 200px;"></canvas>
                                <div class="legend">
                                    <div style="position: absolute; width: 111px; height: 30px; top: 13px; left: 35px; opacity: 0.85; background-color: rgb(255, 255, 255);"> </div>
                                    <table style="position:absolute;top:13px;left:35px;;font-size:smaller;color:#545454">
                                        <tbody>
                                            <tr>
                                                <td class="legendColorBox">
                                                    <div style="border:1px solid #000000;padding:1px">
                                                        <div style="width:4px;height:0;border:5px solid #1ab394;overflow:hidden"></div>
                                                    </div>
                                                </td>
                                                <td class="legendLabel">Numero unidades</td>
                                            </tr>
                                            <tr>
                                                <td class="legendColorBox">
                                                    <div style="border:1px solid #000000;padding:1px">
                                                        <div style="width:4px;height:0;border:5px solid #1C84C6;overflow:hidden"></div>
                                                    </div>
                                                </td>

                                               
                                                <td class="legendLabel">Intereses</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <ul class="stat-list">
                            <li>
                                <h2 class="no-margins">346</h2>
                                <small>Unidades con días gracia</small>
                                <div class="stat-percent">36% <i class="fa fa-level-up text-navy"></i></div>
                                <div class="progress progress-mini">
                                    <div style="width: 48%;" class="progress-bar"></div>
                                </div>
                            </li>
                            <li>
                                <h2 class="no-margins ">422</h2>
                                <small>Unidades en financiamiento</small>
                                <div class="stat-percent">42% <i class="fa fa-level-down text-navy"></i></div>
                                <div class="progress progress-mini">
                                    <div style="width: 60%;" class="progress-bar"></div>
                                </div>
                            </li>
                            <li>
                                <h2 class="no-margins ">220</h2>
                                <small>Unidades vendidas</small>
                                <div class="stat-percent">22% <i class="fa fa-bolt text-navy"></i></div>
                                <div class="progress progress-mini">
                                    <div style="width: 22%;" class="progress-bar"></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>