<div ng-init="init()">
    <div class="row">
        <div class="col-sm-4">
            </br>
            <div class="input-group-btn">
                <button id="btnSucursal" type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-loading-text="Obteniendo intereses..." autocomplete="off">Selecciona Empresa <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li ng-repeat="empresa in arrEmpresa">
                        <a href="#" ng-click="fillSucursal(empresa)">{{empresa.nombre}}</a>
                    </li>
                </ul>
            </div>
            <div class="input-group-btn">
                <button id="btnSucursal" type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-loading-text="Obteniendo intereses..." autocomplete="off">Selecciona Sucursal <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li ng-repeat="sucursal in arrSucursal">
                        <a href="#">{{sucursal.nombreSucursal}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-6"></div>
        <div class="col-sm-2">
            <div class="widget style1 yellow-bg">
                <div class="row">
                    <div class="col-xs-5">
                        <i class="fa fa-automobile fa-4x"></i>
                    </div>
                    <div class="col-xs-7 text-right">
                        <span>Unidades</span>
                        <h2 class="font-bold">{{unidadesTotales}}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Wizard Ini -->
    <div id="mainDiv">
        <!-- Step Window Ini-->
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Asignación de unidades</h5>
            </div>
            <div class="ibox-content">            
                <div id="wizard">
                    <div class="wizard clearfix">
                        <div class=" steps clearfix">
                            <ul>
                                <li ng-class="wizardPanels[0].className" ng-click="setActiveClass(wizardPanels[0])">
                                    <a id="wzdTab0">
                                        <span class="number">1.</span> {{wizardPanels[0].name}}
                                    </a>
                                </li>
                                <li ng-class="wizardPanels[1].className" ng-click="setActiveClass(wizardPanels[1])">
                                    <a id="wzdTab1">
                                        <span class="number">2.</span> {{wizardPanels[1].name}}
                                    </a>
                                </li>
                                <li ng-class="wizardPanels[2].className" ng-click="setActiveClass(wizardPanels[2])">
                                    <a id="wzdTab2">
                                        <span class="number">3.</span> {{wizardPanels[2].name}}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    </br>
                    <div id="content">
                        <div ng-show="wizardPanels[0].active">
                            <div class="row">
                                <div class="col-sm-12">
                                    <!--Tabla unidades inicio -->
                                    <table id="tblNewUnits" class="table table-striped table-bordered table-hover dataTables-example">
                                        <thead>
                                            <tr>
                                                <th>idUnidad</th>
                                                <th>vehNumserie</th>
                                                <th>modelo</th>
                                                <th>descModelo</th>
                                                <th>marca</th>
                                                <th>precioLista</th>
                                                <th>valorInventario</th>
                                                <th>fechaEfectiva</th>
                                                <th>isSelected</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="unidad in arrUnidades">
                                                <td>{{unidad.idUnidad}}</td>
                                                <td>{{unidad.vehNumserie}}</td>
                                                <td>{{unidad.modelo}}</td>
                                                <td>{{unidad.descModelo}}</td>
                                                <td>{{unidad.marca}}</td>
                                                <td>{{unidad.precioLista}}</td>
                                                <td>{{unidad.valorInventario}}</td>
                                                <td>{{unidad.fechaEfectiva}}</td>
                                                <td>
                                                    <input type="checkbox" ng-attr-id="chk{{unidad.idUnidad}}" ng-checked="unidad.isSelected" ng-model="unidad.isSelected" class="css-checkbox" ng-click="setUnidad(unidad)">
                                                    <label for="chk{{unidad.idUnidad}}" class="css-label"></label>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!--Tabla unidades fin -->
                                </div>
                                <!--rowcontent -->
                            </div>
                            <!--row fin -->
                        </div>
                        <div ng-show="wizardPanels[1].active">
                            <div>
                                <h2>This is step 2</h2>
                                <p>This content is diferent than the first one.</p>
                            </div>
                        </div>
                        <div ng-show="wizardPanels[2].active">
                            <div>
                                <h2>This is step 3</h2>
                                <p>This is last content.</p>
                            </div>
                        </div>
                    </div>
                    <div class="wizard clearfix">
                        <div class="actions clearfix">
                            <ul role="menu" aria-label="Pagination">
                                <li ng-class="btnDisabled[0].previous" ng-click="setBack(tabIndex)"><a>Anterior</a></li>
                                <li ng-class="btnDisabled[0].next" ng-click="setNext(tabIndex)"><a>Siguiente</a></li>
                                <li><a>Terminar</a></li>
                                <li><a>Cancelar</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Step Window Fin-->
    </div>
    <!-- Wizard fin -->
</div>

