<div ng-init="init()" cg-busy="{promise:promise,message:message}">
    <input id="max" name="max" type="hidden">
    <!--Dashboard Filtro Financiera-->
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Empresa {{nombreEmpresa}}</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="/interest" ng-click="reloadPage()">Home</a>
                </li>
                <li class="active">
                    <strong>Intereses</strong>
                </li>
                <li class="active" ng-show="ocultarSucursal.show">
                    <strong>{{nombreFinanciera}}</strong>
                </li>
                <li class="active" ng-show="ocultarSucursal.show">
                    <strong>{{nombreSucursal}}</strong>
                </li>
                <li class="active" ng-show="getInterest.show">
                    <strong>Todas las unidades</strong>
                </li>
                <li class="active" ng-show="getInterestCompanySucursal.show">
                    <strong>{{nombreSucursal}}</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">
        </div>
    </div>
    <!--Fin Dashboard Filtro Financiera-->
    <!--DropDownList-->
    <br/>
    <div class="input-group col-xs-6 col-sm-2">
        <div class="input-group-btn">
            <button id="btnSucursal" type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-loading-text="Obteniendo intereses..." autocomplete="off">Selecciona Empresa <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li ng-repeat="empresa in empresas">
                    <a href="#" ng-click="seleccionarEmpresa(empresa.idEmpresa, empresa.nombre)">{{empresa.nombre}}</a>
                </li>
            </ul>
        </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div class="input-group-btn" ng-show="ocultarSucursal.show">
            <button id="btnSucursal" type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-loading-text="Obteniendo intereses..." autocomplete="off">Selecciona Sucursal <span class="caret"></span></button>
            <ul class="dropdown-menu col-xs-1 col-sm-2">
                <li ng-repeat="sucursales in sucursales">
                    <a href="#" ng-click="seleccionarSucursal(sucursales.idSucursal,sucursales.nombreSucursal)">{{sucursales.nombreSucursal}}</a>
                </li>
            </ul>
        </div>
        <div class="input-group-btn" ng-show="getInterestCompanySucursal.show">
            <button id="btnSucursal" type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-loading-text="Obteniendo intereses..." autocomplete="off">Selecciona Sucursal <span class="caret"></span></button>
            <ul class="dropdown-menu col-xs-1 col-sm-2">
                <li ng-repeat="sucursales in sucursales">
                    <a href="#" ng-click="seleccionarSucursalDetalle(sucursales.idSucursal,sucursales.nombreSucursal)">{{sucursales.nombreSucursal}}</a>
                </li>
            </ul>
        </div>
    </div>
    <br/>
    <!--Fin DropDownList-->
    <!--Inico Dashboard Financiera-->
    <div class="col-lg-4 pointer">
    <div class="ibox float-e-margins" ng-click="getInterest()" ng-show="getFinancial.show">
            <div class="ibox-title">
                <span class="label label-warning pull-right"><h4>Unidades: {{totalUnidades}}</h4></span>
                <h3>Todas las unidades</h3>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-xs-6">
                        <small class="stats-label">Adeudo Total</small>
                        <h2>{{totalAdeudo | currency}}</h2>
                    </div>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-xs-6">
                    </div>
                    <div class="col-xs-6">
                        <small class="stats-label">Intereses</small>
                        <h2>{{totalInteres | currency}}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="financieraee" class="col-lg-4 pointer" ng-repeat="financiera in financieras" ng-show="getFinancial.show">
        <div class="ibox float-e-margins" ng-click="seleccionarFinanciera(financiera.idFinanciera,financiera.financiera)">
            <div class="ibox-title">
                <span class="label label-warning pull-right">
                        <h4>Unidades: {{financiera.unidades}}</h4></span>
                <h3>{{financiera.financiera}}</h3>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-xs-6">
                        <small class="stats-label">Adeudo Total</small>
                        <h2>{{financiera.adeudo | currency}}</h2>
                    </div>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-xs-6">
                    </div>
                   <div class="col-xs-6">
                        <small class="stats-label">Intereses</small>
                        <h2>{{financiera.interes | currency}}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Fin Dashboard Financiera-->
    <!--Dashboards-->
    <div class="" ng-show="seleccionarFinanciera.show">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-3">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <span class="label label-success pull-right"></span>
                            <h5>Interés Pagado</h5>
                        </div>
                        <div class="ibox-content">
                            <h1 class="no-margins">{{interesmespasado  | currency }}</h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <small> Unidades: {{unidades}}</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <span class="label label-primary pull-right">{{fechaHoy | date:'dd-MM-yyyy'}}</span>
                            <h5>Interés Mes Actual</h5>
                        </div>
                        <div class="ibox-content">
                            <h1 class="no-margins">{{interesActual | currency}}</h1>
                            <br/>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <span class="label label-primary pull-right">{{fechaHoy | date:'dd-MM-yyyy'}}</span>
                            <h5>Interés Acumulado</h5>
                        </div>
                        <div class="ibox-content">
                            <h1 class="no-margins">{{interesTotal | currency}}</h1>
                            <br/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Fin Dashboard-->
        <div ng-show="seleccionarSucursal.show">
            <div class="col-lg-8">
            </div>
            <div class="col-lg-1">
                <div class="widget style1 lazur-bg pointer count-info"  id="set30days" ng-click="set30days()" style="padding: 5px 5px">
                    <div class="row vertical-align">
                        <div class="col-xs-1">
                            <i class="glyphicon glyphicon-sort"></i>
                        </div>
                        <div class="col-xs-1 text-right">
                            <h2 class="font-bold">30</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1">
                <div class="widget style1 lazur-bg" style="padding: 5px 5px" ng-click="set60days()" id="set60days">
                    <div class="row vertical-align">
                        <div class="col-xs-3">
                            <i class="glyphicon glyphicon-sort "></i>
                        </div>
                        <div class="col-xs-1 text-right pointer">
                            <h2 class="font-bold">60</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1 pointer">
                <div class="widget style1 lazur-bg" style="padding: 5px 5px" ng-click="set90days()" id="set90days">
                    <div class="row vertical-align">
                        <div class="col-xs-3">
                            <i class="glyphicon glyphicon-sort"></i>
                        </div>
                        <div class="col-xs-1 text-right">
                            <h2 class="font-bold">90</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1">
                <div class="widget style1 lazur-bg" style="padding: 5px 0px" ng-click="set90Masdays()" id="set90Masdays">
                    <div class="row vertical-align">
                        <div class="col-xs-3">
                            <i class="glyphicon glyphicon-sort"></i>
                        </div>
                        <div class="col-xs-1 text-right pointer">
                            <h2 class="font-bold">91+</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Tabla-->
        <!--Boton para mostrar traspasos-->
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content">
                            <div class="table-responsive">
                                <table id="interestTable" class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>VIN</th>
                                            <th>Descripción Modelo</th>
                                            <th>Modelo</th>
                                            <th>Nombre esquema</th>
                                            <th>Días financiamiento </th>
                                            <th>Precio compra</th>
                                            <th>Precio venta</th>
                                            <th>Interés al corte (Pagado)</th>
                                            <th>Interés mes actual</th>
                                            <th>Interés acumulado</th>
                                            <th>Utilidad</th>
                                            <th ng-show="valorCheckBoxTabla.show"></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="intereses in interes">
                                            <td ng-model="interes.idnum">{{intereses.vehNumserie}}</td>
                                            <td>{{intereses.descModelo}}</td>
                                            <td>{{intereses.modelo}}</td>
                                            <td ng-model="interes.nombreEsquemaActual">{{intereses.esquema}}</td>
                                            <td ng-class="setClassDias(intereses.diasPlanPiso)">{{intereses.diasPlanPiso}}</td>
                                            <td ng-model="interes.deuda">{{intereses.precioCompra | currency}}</td>
                                            <td>{{intereses.precioVenta | currency}}</td>
                                            <td>{{intereses.interesAcumulado | currency}}</td>
                                            <td ng-model="interes.interesActal">{{intereses.interesAcumuladoActual | currency}}</td>
                                            <td>{{intereses.interesAcumulado + intereses.interesAcumuladoActual | currency}}</td>
                                            <td ng-class="setClassMargen(inter.margen)" ng-model="inter.margen">{{intereses.precioVenta - (intereses.interesAcumuladoActual + intereses.interesAcumulado + intereses.precioCompra) | currency}}</td>
                                            <td ng-show="valorCheckBoxTabla.show">
                                                <input type="checkbox" ng-attr-id="{{intereses.vehNumserie}}" ng-model="ck.id" ng-true-value="'{{intereses.vehNumserie}}'" class=" css-checkbox" ng-click="valorCheckBoxTabla(ck.id,intereses.idUnidad)">
                                                <label for="{{intereses.vehNumserie}}" class="css-label"></label>
                                            </td>
                                            <td><button type="submit" class="btn  btn-default lazur-bg" ng-click="inicia(intereses.vehNumserie, intereses.idUnidad)"><span class="glyphicon glyphicon-folder-open"></span></button></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="row">
                               <div class="col-xs-10">
                                    <button class="btn btn-success" ng-show="transpasoFinanciera.show" ng-click="transpasoFinanciera()">Asignar Esquema</button>
                                </div>
                                <div class="col-xs-2">
                                    <button class="btn btn-warning" ng-show="transpasoFinanciera.show"  ng-click="selectFinancial()">Traspaso Financiero</button>
                                </div>
                                <div class="col-xs-10">
                                    <button class="btn btn-danger"  ng-show="modalCambioFinanciera.show" ng-click="cancelFinancial()">Cancelar Traspaso Financiero</button>
                                </div>
                                <div class="col-xs-2">
                                    <button class="btn btn-warning" ng-show="modalCambioFinanciera.show" ng-click="modalCambioFinanciera()" >Continuar Traspaso Financiero</button>
                                </div>
                                <div class="col-xs-10">
                                    <button class="btn btn-danger" ng-show="modalTraspasoFinanciera.show" ng-click="cancelarTranspasoModal()">Cancelar Asignar Esquema</button>
                                </div>
                                <div class="col-xs-2">
                                    <button class="btn btn-success" ng-click="modalTraspasoFinanciera()" ng-show="modalTraspasoFinanciera.show">Continuar Asignar Esquema</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--button class="btn btn-primary">Transpaso de Financiera</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <button class="btn btn-primary">Transpaso de Financiera</button-->
        </div>
        <!--Fin Tabla-->
    </div>
</div>

<!--Modal Detalle Unidades-->
<strong>
   <div class="modal inmodal fade " id="DetallesUnidadModal" href="detailsUnit" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content animated flipInY">
            <div class="modal-header" style="padding:4px 0px;">
                <h2> Detalles Unidad - VIN: {{vehNumserie}}</h2>
            </div>
            <div class="modal-body">
              <ul class="nav nav-tabs ">
                <li ng-class="panels[0].className" ng-click="setActiveClass(panels[0])"><a href="#">{{panels[0].name}}</a></li>
                <li ng-class="panels[1].className" ng-click="setActiveClass(panels[1])"><a href="#">{{panels[1].name}}</a></li>
              </ul>
               <div ng-show="panels[0].active">
                    <div class="row">
                        <div class="col-xs-6 col-sm-4">
                        <h2><span class="glyphicon glyphicon-list"></span> Ficha Técnica</h2>
                        <br/> Marca:
                        <label>{{detailsUnit[0].marca}}</label>
                        <br/> Modelo:
                        <label>{{detailsUnit[0].descModelo}}</label>
                        <br/> Color:
                        <label>{{detailsUnit[0].colorExterior}}</label>
                        <br/> Año:
                        <label>{{detailsUnit[0].modelo}}</label>
                        <br/> Transmisión:
                        <label>{{detailsUnit[0].transmision}}</label>
                        <br/> Tipo Unidad
                        <label>{{detailsUnit[0].tipoUnidad}}</label>
                    </div>
                        <div class="col-xs-6 col-sm-4">
                        <h2><span class="glyphicon glyphicon-calendar"></span> Ingreso al Inventario</h2> 
                        <br/> Fecha Ingreso:
                        <label>{{detailsUnit[0].vehFecrecibo}}</label>
                        <br/>Valor Inventario:
                        <label>{{detailsUnit[0].valorInventario | currency}}</label>
                        <br/> Factura:
                        <label>{{detailsUnit[0].vehNofactplan}}</label>
                        <br/> Situación:
                        <label>{{detailsUnit[0].situacion}}</label>
                        <br/>
                    </div>
                        <div class="col-xs-6 col-sm-4">
                        <h2><span class="glyphicon glyphicon-eye-open"></span> Datos Plan Piso</h2>
                        <br/> Fecha Ingreso:
                        <label>{{detailsUnit[0].vehFecrecibo}}</label>
                        <br/> Nombre Esquema:
                        <label>{{detailsUnit[0].nombre}}</label>
                        <br/>Descripción:
                        <label>{{detailsUnit[0].descripcion}}</label>
                        <br/> Días Inventario:
                        <label>{{detailsUnit[0].diasInventa}}</label>
                    </div>
                    </div>
                    <br/>
                    <div class="row">
                    <div class="col-xs-6 col-sm-4">
                        <h2><span class="glyphicon glyphicon-list-alt"></span> Esquema</h2>
                        <br/> Tipo Esquema:
                        <label>{{getStringTasaFija(detailsUnit[0].esFijo)}}</label>
                        <br/> Nombre:
                        <label>{{detailsUnit[0].nombre}}</label>
                        <br/>Días Financiamiento:
                        <label>{{detailsUnit[0].diasInventa}}</label>
                        <br/> Plazo:
                        <label>{{detailsUnit[0].plazo}}</label>
                        <br/> Descripción:
                        <label>{{detailsUnit[0].descripcion}}</label>
                    </div>
                    <div class="col-xs-7 col-sm-8" ng-show="ocultarEquemaFechas.show">
                        <h2><span class="glyphicon glyphicon-stats"></span> Detalle Esquema</h2>
                         <div class="table-responsive">
                                <table id="esquemaDetalleUnidad" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Tasa Interés:</th>
                                    <th>Fecha Inicio</th>
                                    <th>Fecha Fin</th>
                                    <th>Porcentaje Penetración</th>
                                    <!--th>Tipo Tiie</th-->
                                    <th>Tiie</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="detailsUnit in detailsUnitScheme">
                                    <td>{{detailsUnit.tasaInteres | number:2}}%</td>
                                    <td>{{detailsUnit.fechaInicio | date:'dd-MM-yyyy'}}</td>
                                    <td>{{detailsUnit.fechaFin | date:'dd-MM-yyyy'}}</td>
                                    <td>{{detailsUnit.porcentajePenetracion | number:2}}%</td>
                                    <td>{{detailsUnit.tiie | number:2}}%</td>
                                    <!--td>{{detailsUnit.monto | number:2}}%</td-->
                                </tr>
                            </tbody>
                        </table>
                        </div>
                    </div>
                    <div class="col-xs-7 col-sm-8" ng-show="ocultarEsquemaRango.show">
                        <h2><span class="glyphicon glyphicon-stats"></span> Detalle Esquema</h2>
                         <div class="table-responsive">
                                <table id="esquemaDetalleUnidad" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Tasa Interés:</th>
                                    <th>Rango de Días</th>
                                    <th>Precedencia</th>
                                    <th>Porcentaje Penetración</th>
                                    <!--th>Tipo Tiie</th-->
                                    <th>Tiie</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="detailsUnit in detailsUnitScheme">
                                    <td>{{detailsUnit.tasaInteres | number:2}}%</td>
                                    <td>{{detailsUnit.rango}}</td>
                                    <td>{{detailsUnit.precedencia}}</td>
                                    <td>{{detailsUnit.porcentajePenetracion | number:2}}%</td>
                                    <td>{{detailsUnit.tiie | number:2}}%</td>
                                    <!--td>{{detailsUnit.monto | number:2}}%</td-->
                                </tr>
                            </tbody>
                        </table>
                        </div>
                    </div>
                </div>
                </div>
                <div ng-show="panels[1].active">
                    <div class="wrapper wrapper-content">
                        <div class="row animated fadeInRight">
                            <div class="col-lg-12">
                            <div class="ibox float-e-margins">
                            <div class="text-center float-e-margins p-md">
                            <div class="col-md-3">
                            </div>
                            <div class="col-md-6">
                                <div class="widget style1 lazur-bg">
                                    <div class="row">
                                        <div class="col-xs-5">
                                            <i class="fa fa-automobile fa-4x"></i>
                                        </div>
                                    <div class="col-xs-7 text-right">
                                        <span>Costo de compra</span>
                                        <h2 class="font-bold">{{costoUnidad | currency}}</h2>
                                    </div>
                                    </div>
                                </div>
                                </div>
                            <!--h2></h2>
                                <!--a href="#" class="btn btn-xs btn-primary" id="leftVersion" ng-click="timeLineLeftVersion()">Left version</a-->
                            </div>
                        <div class="ibox-content" id="ibox-content">
                            <div id="vertical-timeline" class="vertical-container dark-timeline center-orientation">
                                <div class="vertical-timeline-block"  ng-repeat="timePagos in detallePagos">
                                    <div class="vertical-timeline-icon blue-bg" ng-class="setClassColor(timePagos.idMovimientoTipo)">
                                        <i class="fa fa-briefcase" ng-class="setClassIcono(timePagos.idMovimientoTipo)"></i>
                                    </div>
                                        <div class="vertical-timeline-content">
                                        <h2>{{timePagos.descripcion}}</h2>
                                        <p>Financiera: {{timePagos.nombreFinanciera}}</p>
                                        <p>Nombre Esquema: {{timePagos.nombreEsquema}}</p>
                                        <p>Cargo: {{timePagos.cargo| currency:"$":2}} </p>
                                        <p>Abono: {{timePagos.abono| currency:"$":2}}</p>
                                        <span class="vertical-date">
                                         <br/>
                                        <h2>{{timePagos.fecha| date:'dd/MM/yyyy'}}</h2>
                                        </span>
                                        </div>
                                </div>
                                <!--div class="vertical-timeline-block">
                                <div class="vertical-timeline-icon blue-bg">
                                    <i class="fa fa-file-text"></i>
                                </div>

                                <div class="vertical-timeline-content">
                                    <h2>Financiera</h2>
                                    <p>Descripción</p>
                                    <p>Nombre Esquema</p>
                                    <p>Cargo</p>
                                    <p>Abono</p>
                                    <span class="vertical-date">
                                        Today <br/>
                                        <small>fecha</small>
                                    </span>
                                </div>
                            </div>

                                <div class="vertical-timeline-block">
                                <div class="vertical-timeline-icon lazur-bg">
                                    <i class="fa fa-coffee"></i>
                                </div>

                                <div class="vertical-timeline-content">
                                    <h2>Financiera</h2>
                                    <p>Descripción</p>
                                    <p>Nombre Esquema</p>
                                    <p>Cargo</p>
                                    <p>Abono</p>
                                    <span class="vertical-date"> Yesterday <br/><small>fecha</small></span>
                                </div>
                            </div-->
                            </div>

                        </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn  btn-danger pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cerrar</button>
            </div>
        </div>
    </div>
</div>
</strong>
<!--Fin Modal-->

<!--Detalle esquemas-->
<div id="detallesEsquemas" class="modal inmodal fade " id="DetallesUnidadModal" href="detailsUnit" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="false" data-backdrop="static">
<div class="modal-dialog modal-lg">
    <div class="modal-content animated flipInY">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <div class="modal-header" style="padding:4px 0px;">
            <h2>Detalle Esquema - {{nombreEsquema}}</h2>
        </div>
        <div class="modal-body">
            <div class="row">
                <div>
                    <h2><span class="glyphicon glyphicon-list-alt"></span> Información General</h2>
                    <label>Nombre Esquema: </label> {{detalleEsquema[0].nombre}}
                    <br/>
                    <label>Días de Gracia: </label> {{detalleEsquema[0].diasGracia}}
                    <br/>
                    <label>Plazo: </label> {{detalleEsquema[0].plazo}}
                    <br/>
                    <label>Descripción: </label> {{detalleEsquema[0].descripcion}}
                </div>
            </div>
            <div class="row">
                <h2><span class="glyphicon glyphicon-list"></span> Detalles Esquema</h2>
                <br/>
                <div class="table-responsive">
                    <table id="detallesEsquema" class="table table-striped table-bordered table-hover dataTables-example" cg-busy="{promise:promise,message:message}">
                        <thead>
                            <tr>
                                <th>Taza de Interés</th>
                                <th ng-show="tasaFecha.show">Fecha Inicio</th>
                                <th ng-show="tasaFecha.show">Fecha Fin</th>
                                <th ng-show="tasaFecha.show">Tiie</th>
                                <th ng-show="tasaFecha.show">Porcentaje de Penetración</th>
                                <th ng-show="tasaRango.show">Rango Días</th>
                                <th ng-show="tasaRango.show">Precedencia</th>
                                <th ng-show="tasaRango.show">Tipo Tiie</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="esquema in detalleEsquema">
                                <td>{{esquema.tasaInteres | number:2}}%</td>
                                <td ng-show="tasaFecha.show">{{esquema.fechaInicio | date:'dd-MM-yyyy'}}</td>
                                <td ng-show="tasaFecha.show">{{esquema.fechaFin | date:'dd-MM-yyyy'}}</td>
                                <td ng-show="tasaFecha.show">{{esquema.tiie | number:2}}%</td>
                                <td ng-show="tasaFecha.show">{{esquema.porcentajePenetracion | number:2}}%</td>
                                <td ng-show="tasaRango.show">{{esquema.rango}}</td>
                                <td ng-show="tasaRango.show">{{esquema.precedencia}}</td>
                                <td ng-show="tasaRango.show">{{getStringTipoTiie(esquema.idTiieTipo)}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="col-xs-11"></div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn  btn-danger pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cerrar</button>
        </div>
    </div>
</div>
</div>
<!-- Fin detalle de esquema-->

<!--Modal Cambio de esquema-->
<strong>
<div class="modal inmodal fade " id="transpasoCambioEsquema" href="" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="false" data-backdrop="static"><div class="modal-dialog
 modal-lg">
        <div class="modal-content animated flipInY">
           <button type="button" class="close" data-dismiss="modal" ng-click="cancelarCambioFinanciera()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <div class="modal-header" style="padding:1px 0px;">
                <h2>Actualizar Esquema - {{nombreFinancieraCambio}}</h2>
            </div>
            <div class="modal-body">
                <div class="input-group-btn" ng-show="idEsquemaNuevo.show">
                    <button id="btnSucursal" type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-loading-text="Obteniendo intereses..." autocomplete="off">Selecciona Financiera <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li ng-repeat="financiera in financieraNueva">
                            <a href="#" ng-click="seleccionarFinancieraNueva(financiera.idFinanciera, financiera.nombre)">{{financiera.nombre}}</a>
                            </li>
                        </ul>
                </div>
                <div ng-show="idEsquemaNuevo.show">
                    <h2>Seleccione el nuevo esquema</h2>
                        <div class="table-responsive">
                                <table id="esquemasFinancieraNuevo" class="table table-striped table-bordered table-hover dataTables-example" cg-busy="{promise:promise,message:message}">
                                     <thead>
                                            <tr>
                                                <th>Nombre esquema</th>
                                                <th>Días gracia</th>
                                                <th>Plazo</th>
                                                <!--th>Fecha inicio</th-->
                                                <th>Tipo</th>
                                                <th></th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="esquema in esquemas">
                                                <td ng-model="esquema.nombre">{{esquema.nombre}}</td>
                                                <td>{{esquema.diasGracia}} Días</td>
                                                <td>{{esquema.plazo}} Días</td>
                                                <!--td>{{fechaInicio[1].fechaInicio | date:'dd-MM-yyyy'}}</td-->
                                                <td>{{getStringTasaFija(esquema.esFijo)}}</td> 
                                                <td>            
                                                  <input type="checkbox"  ng-attr-id="'{{esquema.idEsquema}}'" ng-model="ck.Esquema" ng-true-value="'{{esquema.idEsquema}}'" class="css-checkbox" ng-click="idEsquemaNuevo(ck.Esquema,esquema.nombre)">
                                                  <label for="'{{esquema.idEsquema}}'" class="css-label"></label>             
                                                </td>
                                                    <td><button type="submit" class="btn  btn-default lazur-bg" ng-click="seleccionarEsquema(esquema.idEsquema,esquema.esFijo, esquema.nombre )"><span class="glyphicon glyphicon-question-sign"></span></button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                                <div ng-show="hacerCambioEsquema.show">
                                    <h2>Unidades a cambiar de esquema</h2>
                                        <div class="table-responsive" ng-show="hacerCambioEsquema.show">                      
                                          <table id="unidadesCambioEsquema" class="table table-striped table-bordered table-hover dataTables-example" cg-busy="{promise:promise,message:message}" >             
                                            <thead>
                                                <tr>
                                                 <th>VIN</th>
                                                 <th>Financiera</th>
                                                 <th>Nombre Esquema</th>           
                                                 <th>Fecha</th>
                                                 <th>Observaciones</th>
                                               </tr>
                                            </thead>  
                                                <tbody>
                                                    <tr ng-repeat="unidad in listaUnidadesConValidacion">
                                                        <td  ng-class="setClass(unidad.status)">{{unidad.vehNumserie}}</td>
                                                        <td>{{nombreFinancieraCambio}}</td>
                                                        <td>{{nombreEsquemaNueva}}</td> 
                                                        <td>{{fechaHoy | date:'dd-MM-yyyy'}}</td>
                                                        <td>{{unidad.observaciones}}</td>
                                                    </tr>
                                                </tbody>                                                 
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn  btn-danger pull-left" data-dismiss="modal" ng-click="cancelarCambioFinanciera()"><span class="glyphicon glyphicon-remove"></span> Cancelar</button>
                                <button class="btn btn-primary" ng-show="idEsquemaNuevo.show" ng-click="hacerCambioEsquema()">Siguiente</button>
                                <button class="btn btn-primary" data-dismiss="modal" ng-show="hacerCambioEsquema.show" ng-click="regresarIntereses()">Cambiar</button>
                            </div>
                        </div>
                </div>
            </div>
</strong>
<!--Fin Modal-->

<!--Modal Transpaso Financiera-->
<strong>
<div class="modal inmodal fade " id="traspasoFinanciero" href="" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="false" data-backdrop="static"><div class="modal-dialog
 modal-lg">
        <div class="modal-content animated flipInY">
           <button type="button" class="close" data-dismiss="modal" ng-click="cancelarCambioFinancieraTraspaso()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <div class="modal-header" style="padding:1px 0px;">
                <h2>Traspaso Financiero a - {{nombreFinancieraCambio}}</h2>
            </div>
            <div class="modal-body">
                <div class="input-group-btn" ng-show="idEsquemaNuevoTraspaso.show">
                    <button id="btnSucursal" type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-loading-text="Obteniendo intereses..." autocomplete="off">Selecciona Financiera <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li ng-repeat="financiera in financieraNueva">
                            <a href="#" ng-click="seleccionarFinancieraNuevaTraspaso(financiera.idFinanciera, financiera.nombre)">{{financiera.nombre}}</a>
                            </li>
                        </ul>
                </div>
                <div ng-show="idEsquemaNuevoTraspaso.show">
                    <h2>Seleccione el nuevo esquema</h2>
                        <div class="table-responsive">
                                <table id="esquemasFinancieraNuevoTraspaso" class="table table-striped table-bordered table-hover dataTables-example" cg-busy="{promise:promise,message:message}">
                                     <thead>
                                            <tr>
                                                <th>Nombre esquema</th>
                                                <th>Días gracia</th>
                                                <th>Plazo</th>
                                                <!--.th>Fecha inicio</th-->
                                                <th>Tipo</th>
                                                <th></th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="esquema in esquemas">
                                                <td ng-model="esquema.nombre">{{esquema.nombre}}</td>
                                                <td>{{esquema.diasGracia}} Días</td>
                                                <td>{{esquema.plazo}} Días</td>
                                                <!--td>{{}}</td-->
                                                <td>{{getStringTasaFija(esquema.esFijo)}}</td> 
                                                <td>            
                                                  <input type="checkbox"  ng-attr-id="'{{esquema.idEsquema}}1'" ng-model="ck.Esquema" ng-true-value="'{{esquema.idEsquema}}'" class="css-checkbox" ng-click="idEsquemaNuevoTraspaso(ck.Esquema,esquema.nombre)">
                                                  <label for="'{{esquema.idEsquema}}1'" class="css-label"></label>             
                                                </td>
                                                    <td><button type="submit" class="btn  btn-default lazur-bg" ng-click="seleccionarEsquema(esquema.idEsquema,esquema.esFijo, esquema.nombre )"><span class="glyphicon glyphicon-info-sign"></span></button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                                <div ng-show="hacerCambioEsquemaTraspaso.show">
                                    <h2>Unidades a cambiar de financiera</h2>
                                        <div class="table-responsive">                      
                                          <table id="traspasoFinancieroTabla" class="table table-striped" cg-busy="{promise:promise,message:message}" >             
                                            <thead>
                                                <tr>
                                                 <th>VIN</th>
                                                 <th>Financiera Origen</th>
                                                 <th>Nombre Esquema</th>           
                                                 <th>Monto</th>
                                                 <th>Financiera Destino</th>
                                                 <th>Esquema Destino</th>
                                                 <th>Fecha Cambio</th>
                                               </tr>
                                            </thead>  
                                                <tbody>
                                                    <tr ng-repeat="unidad in listaUnidadesConValidacion">
                                                        <td>{{unidad.vehNumserie}}</td>
                                                        <td>{{unidad.nombreFinanciera}}</td>
                                                        <td>{{unidad.nombreEsquemaActual}}</td>
                                                        <td>{{unidad.deuda | currency}}</td>
                                                        <td>{{nombreFinancieraCambio}}</td>
                                                        <td>{{nombreEsquemaNueva}}</td> 
                                                        <td>{{fechaHoy | date:'dd-MM-yyyy'}}</td>
                                                    </tr>
                                                </tbody>                                                 
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn  btn-danger pull-left" data-dismiss="modal" ng-click="cancelarCambioFinancieraTraspaso()"><span class="glyphicon glyphicon-remove"></span> Cancelar</button>
                                <button class="btn btn-primary" ng-show="idEsquemaNuevoTraspaso.show" ng-click="hacerCambioEsquemaTraspaso()">Siguiente</button>
                                <button class="btn btn-primary" data-dismiss="modal" ng-show="hacerCambioEsquemaTraspaso.show" ng-click="regresarInteresesTraspaso()">Cambiar</button>
                            </div>
                        </div>
                </div>
            </div>
</strong>
<!--Fin Modal-->





