<div ng-init="init()" cg-busy="{promise:promise,message:message}">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Esquema</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="/">Home</a>
                </li>
                <li class="active">
                    <strong>Esquema</strong>
                </li>
                <li class="active">
                    <strong>{{nombreFinanciera}}</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-lg-12">
            <button id="btnSucursal" type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-loading-text="Obteniendo intereses..." autocomplete="off">Selecciona Financiera <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li ng-repeat="financiera in financieras">
                    <a href="#" ng-click="seleccionarFinanciera(financiera.idFinanciera, financiera.nombre)">{{financiera.nombre}}</a>
                </li>
            </ul>
            <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="abrirModalFinanciera()" style="background:#23C6C8; color:#fff">Nueva Financiera</button>
        </div>
    </div>
    <div class="wrapper wrapper-content" ng-show="getEsquemaFinanciera.show ">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <div class="table-responsive">
                            <table id="esquemasFinanciera" class="table table-striped table-bordered table-hover dataTables-example" cg-busy="{promise:promise,message:message}">
                                <thead>
                                    <tr>
                                        <!-- <th>N° Esquema</th> -->
                                        <th>Nombre</th>
                                        <th>Descripción</th>
                                        <th>Días gracia</th>
                                        <th>Plazo</th>
                                        <th>Tipo</th>
                                        <th>Editar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="esquema in esquemas">
                                        <!-- <td>{{esquema.idEsquema}}</td> -->
                                        <td>{{esquema.nombre}}</td>
                                        <td>{{esquema.descripcion}}</td>
                                        <td>{{esquema.diasGracia}}</td>
                                        <td>{{esquema.plazo}}</td>
                                        <td>{{getStringTasaFija(esquema.esFijo)}}</td>
                                        <td>
                                            <button type="button" class="btn btn-default" ng-click="nuevoEsquema(esquema.idEsquema,esquema.esFijo)">
                                                <span class="glyphicon glyphicon-edit"> </span>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="col-xs-11"></div>
                            <div class="col-xs-1">
                                <button class="btn btn-primary" ng-click="nuevoEsquema(0,0)">Agregar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!---->
<div id="agregarNuevoEsquema" class="modal inmodal fade " id="DetallesUnidadModal" href="detailsUnit" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content animated flipInY">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <div class="modal-header" style="padding:1px 0px;">
                <h1>{{titleHeader}}</h1>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="eDiasGracia">Días Gracia:</label>
                            <input type="text" class="form-control" id="eDiasGracia" ng-model="esquema.diasGracia" ng-disabled="!isAddMode" placeholder="Días libres de interes">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="ePlazo">Plazo:</label>
                            <input type="text" class="form-control" id="ePlazo" ng-model="esquema.plazo" ng-disabled="!isAddMode" placeholder="Días de financiamiento">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="eNombre">Nombre:</label>
                            <input type="text" class="form-control" id="eNombre" ng-model="esquema.nombre" ng-disabled="!isAddMode" placeholder="Nombre del nuevo esquema">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="eDescripcion">Descripción:</label>
                            <input type="text" class="form-control" id="eDescripcion" ng-model="esquema.descripcion" ng-disabled="!isAddMode" placeholder="Información adicional">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <input type="checkbox" id="checkboxG1" ng-model="checked" ng-init="checked=false" class="css-checkbox">
                        <label for="checkboxG1" class="css-label"> Intereses por Rango</label>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="eDescripcion">Porcentaje Abono a Capital</label>
                            <input type="text" class="form-control" id="eAbonoCapital" ng-model="esquema.porcentajePagoCapital" ng-disabled="!isAddMode" placeholder="Porcentaje">
                        </div>
                    </div>
                </div>
                <!-- inicio  controles por fecha  -->
                <div ng-hide="checked">
                    <h3 style='text-align: center'>Detalle Fechas</h3>
                    <hr>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="fTasa">Tasa Intéres:</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="fTasa" ng-model="esquema.tasaInteres" placeholder="Ej.: 10.0">
                                    <div class="input-group-addon">%</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="fPorcentaje">Porcentaje Penetración:</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="fPorcentaje" ng-model="esquema.porcentajePenetracion" placeholder="Ej.: 10.0">
                                    <div class="input-group-addon">%</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group" id="calendar">
                                <label for="fInicio">Fecha Inicio:</label>
                                <div class="input-group date">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    <input type="text" class="form-control" id="fInicio" ng-model="esquema.fechaInicio" value={{fechaInicio}} placeholder="dd/mm/yyyy">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group" id="calendar">
                                <label for="fFin">Fecha Fin:</label>
                                <div class="input-group date">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    <input type="text" class="form-control" id="fFin" ng-model="esquema.fechaFin" value={{fechaFin}} placeholder="dd/mm/yyyy">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="tipoTiie">Tipo Tiie:</label>
                                <select id="tipoTiie" ng-options="lst.text for lst in lstTiie" ng-model="selectedOption" class="form-control"></select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="fTiie">Tiie:</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="fTiie" ng-model="esquema.tiie" placeholder="Ej.: 10.0">
                                    <div class="input-group-addon">%</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                        </div>
                        <div class="col-sm-6">
                            <div>
                                <br>
                                <button type="button" class="btn btn-primary pull-right" ng-click="addByDate()">Agregar</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <h3 style='text-align: center'>Detalles</h3>
                        <div class="col-sm-12">
                            <table id="tblAddByDate" class="table table-striped">
                                <tr>
                                    <th>ID</th>
                                    <th>Tasa Interes</th>
                                    <th>% Penetración</th>
                                    <th>Fecha Inicio</th>
                                    <th>Fecha Fin</th>
                                    <th>TIIE Tipo</th>
                                    <th>TIIE</th>
                                </tr>
                                <tr ng-repeat="field in lstDateScheme">
                                    <td>{{field.indexDate}}</td>
                                    <td>{{field.tasaInteres | number:2}} % </td>
                                    <td>{{field.porcentajePenetracion | number:2}} %</td>
                                    <td>{{field.fechaInicio | date:'dd/MM/yyyy'}}</td>
                                    <td>{{field.fechaFin | date:'dd/MM/yyyy'}}</td>
                                    <td>{{getStringTipoTiie(field.idTiieTipo)}}</td>
                                    <td>{{field.tiie | number:2}} %</td>
                                    <td>
                                        <button type="button" class="btn btn-default" ng-disabled="field.esPrecarga" ng-click="showConfirmDelete(1,field.indexDate)">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </button>
                                    </td>
                                </tr>
                            </table>
                        </diV>
                    </div>
                </div>
                <!-- Fin  controles por fecha  -->
                <!-- inicio  controles por rango  -->
                <div ng-show="checked">
                    <h3 style='text-align: center'>Detalle Rango</h3>
                    <hr>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="tasaInteres">Tasa Intéres:</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="tasaInteres" ng-model="esquema.tasaInteres" placeholder="Ej.: 10.0">
                                    <div class="input-group-addon">%</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="porcentaje">Porcentaje Penetración:</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="porcentaje" ng-model="esquema.porcentajePenetracion" placeholder="Ej.: 10.0">
                                    <div class="input-group-addon">%</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="rangoDias">Rango Días:</label>
                                <input type="text" class="form-control" id="rangoDias" ng-model="esquema.rango" placeholder="0">
                            </div>
                        </div>
                        <div class="col-sm-6">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="tipoTiie">Tipo Tiie:</label>
                                <select id="tipoTiie" ng-options="lst.text for lst in lstTiie" ng-model="selectedOption" class="form-control"></select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="fTiie">Tiie:</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="fTiie" ng-model="esquema.tiie" placeholder="Ej.: 10.0">
                                    <div class="input-group-addon">%</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                        </div>
                        <div class="col-sm-6">
                            <button type="button" class="btn btn-primary pull-right" ng-click="addByRange()">Agregar</button>
                        </div>
                    </div>
                    <div class="row">
                        <h3 style='text-align: center'>Detalles</h3>
                        <div class="col-sm-12">
                            <table id="tblAddByRange" class="table table-striped">
                                <tr>
                                    <th>ID</th>
                                    <th>Tasa Interes</th>
                                    <th>Rango</th>
                                    <th>% Penetracion</th>
                                    <th>TIIE Tipo</th>
                                    <th>TIIE</th>
                                    <th></th>
                                </tr>
                                <tr ng-repeat="field in lstRangeScheme">
                                    <td>{{field.indexRange }}</td>
                                    <td>{{field.tasaInteres | number:2}} %</td>
                                    <td>{{field.rango}}</td>
                                    <td>{{field.porcentajePenetracion | number:2}} %</td>
                                    <td>{{getStringTipoTiie(field.idTiieTipo)}}</td>
                                    <td>{{field.tiie | number:2}} %</td>
                                    <td>
                                        <button type="button" class="btn btn-default" ng-disabled="field.esPrecarga" ng-click="showConfirmDelete(2,field.indexRange)">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- Fin  controles por rango  -->
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn  btn-danger pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cerrar</button>
                <button class="btn btn-primary btn-sm demo4" ng-click="showConfirmSave()">Guardar</button>
            </div>
        </div>
    </div>
</div>
<!---->
<!--Modal Nueva Financiera-->
<strong><div class="modal inmodal fade " id="nuevaFinanciera" href="" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="false" data-backdrop="static">
       <div class="modal-dialog modal-lg">
        <div class="modal-content animated flipInY">
           <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <div class="modal-header" style="padding:1px 0px;">
                <h2>Nueva Financiera</h2>
            </div>
                <div class="modal-body">
                           <div class="row">
                           <!--form class="form-horizontal" role="form"-->
                           <div class="col-sm-3">
                           <label for="nombreFinanciera">Nombre Financiera:</label>
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="nombreFinanciera" ng-model="financiera.nombre" placeholder="Nombre Financiera">
                                    </div>       
                                </div>
                            </div>
                               <br/>
                                <div class="col-sm-2">                    
                                <button type="button" class="btn btn-primary pull-left" ng-click="agregarNuevaFinanciera(financiera.nombre)" style="background:#23C6C8; color:#fff">Agregar</button>
                                </div>    
                               <!--/form-->   
                            </div>                  
                                               <div>
                                                <h2>Financieras</h2>
                                                <div class="table-responsive">                     
                                  <table id="Financieras" class="table table-striped table-bordered table-hover dataTables-example" cg-busy="{promise:promise,message:message}">             
                                                  <thead>
                                                    <tr>
                                                        <th>Numero Financiera</th>
                                                        <th>Nombre Financiera</th>
                                                    </tr>
                                                </thead>  
                                                <tbody>
                                                    <tr ng-repeat="financiera in financieras">
                                                        <td>{{financiera.idFinanciera}}</td>
                                                        <td>{{financiera.nombre}}</td>
                                                    </tr>
                                                </tbody>                                                 
                                        </table>
                                        </div>
                                        </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn  btn-danger pull-left" data-dismiss="modal" ng-click="cerrarModalFinanciera()"><span class="glyphicon glyphicon-remove"></span> Cancelar</button>
                <button class="btn btn-primary" data-dismiss="modal" ng-click="cerrarModalFinanciera()">Terminar</button>
            </div>
        </div>
    </div>
</div>
</strong>
