<div ng-init="init()" cg-busy="{promise:promise,message:message}">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Esquema</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="/">Home</a>
                </li>
                <li class="active">
                    <strong>Esquema</strong>
                </li>
                <li class="active">
                    <strong>{{nombreFinanciera}}</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">
        </div>
    </div>
    <div class="input-group-btn">
        <button id="btnSucursal" type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-loading-text="Obteniendo intereses..." autocomplete="off">Selecciona Financiera <span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li ng-repeat="financiera in financieras">
                <a href="#" ng-click="seleccionarFinanciera(financiera.idFinanciera, financiera.nombre)">{{financiera.nombre}}</a>
            </li>
        </ul>
    </div>
    <div class="wrapper wrapper-content" ng-show="getEsquemaFinanciera.show ">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">

                        <div class="table-responsive">
                            <table id="esquemasFinanciera" class="table table-striped table-bordered table-hover dataTables-example" cg-busy="{promise:promise,message:message}">
                                <thead>
                                    <tr>
                                        <th>N° Esquema</th>
                                        <th>Días gracia</th>
                                        <th>Plazo</th>
                                        <th>Nombre</th>
                                        <th>Descripción</th>
                                        <th>Taza Fija</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="esquema in esquemas" ng-dblclick="seleccionarEsquema(esquema.idEsquema,esquema.esFijo )">
                                        <td>{{esquema.idEsquema}}</td>
                                        <td>{{esquema.diasGracia}}</td>
                                        <td>{{esquema.plazo}}</td>
                                        <td>{{esquema.nombre}}</td>
                                        <td>{{esquema.descripcion}}</td>
                                        <td>{{esquema.esFijo}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="col-xs-11"></div>
                            <div class="col-xs-1">
                                <button class="btn btn-primary" ng-click="nuevoEsquema()">Agregar</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!---->
<div id="detallesEsquemas" class="modal inmodal fade " id="DetallesUnidadModal" href="detailsUnit" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content animated flipInY">
            <div class="modal-header" style="padding:20px 20px;">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h1>Detalle Esquema - {{nombreEsquema}}</h1>
            </div>
            <div class="modal-body">

                <div class="table-responsive">
                    <table id="detallesEsquema" class="table table-striped table-bordered table-hover dataTables-example" cg-busy="{promise:promise,message:message}">
                        <thead>
                            <tr>
                                <th>Taza de Interés</th>
                                <th ng-show="tasaFecha.show">Fecha Inicio</th>
                                <th ng-show="tasaFecha.show">Fecha Fin</th>
                                <th ng-show="tasaFecha.show">Tiie</th>
                                <th ng-show="tasaFecha.show">Porcentaje de Penetración</th>
                                <th ng-show="tasaRango.show">Rango Días</th>
                                <th ng-show="tasaRango.show">Precedencia</th>
                                <th ng-show="tasaRango.show">Tipo Tiie</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="esquema in detalleEsquema">
                                <td>{{esquema.tasaInteres | number:2}}%</td>
                                <td ng-show="tasaFecha.show">{{esquema.fechaInicio  | date:'dd-MM-yyyy'}}</td>
                                <td ng-show="tasaFecha.show">{{esquema.fechaFin | date:'dd-MM-yyyy'}}</td>
                                <td ng-show="tasaFecha.show">{{esquema.tiie | number:2}}%</td>
                                <td ng-show="tasaFecha.show">{{esquema.porcentajePenetracion | number:2}}%</td>
                                <td ng-show="tasaRango.show">{{esquema.rango}}</td>
                                <td ng-show="tasaRango.show">{{esquema.precedencia}}</td>
                                <td ng-show="tasaRango.show">{{esquema.idTieeTipo}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="col-xs-11"></div>
                    <!--div class="col-xs-1">
                        <button class="btn btn-success btn-xs">Agregar</button>
                    </div-->
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn  btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cerrar</button>
            </div>
        </div>

    </div>
</div>
<!---->
<!---->
<div id="agregarNuevoEsquema" class="modal inmodal fade " id="DetallesUnidadModal" href="detailsUnit" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content animated flipInY">
            <div class="modal-header" style="padding:20px 20px;">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h1>Agregar Nuevo Esquema</h1>
            </div>
            <div class="modal-body">
                        <!--div class="row"-->
                            
                                  <div class="col-md-4">
                                   <div>
                                        <div class="form-group">
                                            <label class="sr-only" for="exampleInputAmount">Días Gracia</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" id="exampleInputAmount" ng-model="esquema.diasGracia" placeholder="Días Gracia">
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="form-group">
                                            <label class="sr-only" for="exampleInputAmount">Plazo</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" id="exampleInputAmount" ng-model="esquema.plazo" placeholder="Plazo">
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="form-group">
                                            <label class="sr-only" for="exampleInputAmount">Nombre</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" id="exampleInputAmount" ng-model="esquema.nombre" placeholder="Nombre">
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="form-group">
                                            <label class="sr-only" for="exampleInputAmount">Descripción</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" id="exampleInputAmount" ng-model="esquema.descripcion" placeholder="Descripción">
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="form-group">
                                            <label >Intereses por Fecha</label>
                                            <div class="input-group">
                                                <input type="checkbox" class="i-checks" name="input[]" ng-model="esquema.interesFecha" ng-click="tasaFecha()" data-off="success">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                   <div class="col-md-4">
                                    <div>
                                        <div class="form-group">
                                            <label class="sr-only" for="exampleInputAmount">Tasa Intéres</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" id="exampleInputAmount" ng-model="esquema.tasaInteres" placeholder="Tasa Intéres">
                                                <div class="input-group-addon">%</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <label class="font-noraml">Fecha Inicio</label>
                                        <div class="form-group" id="calendar">
                                            <div class="input-group date">
                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                <input type="text" class="form-control" ng-model="esquema.fechaInicio" value={{fechaInicio}} style="width:150px">
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <label class="font-noraml">Fecha Fin</label>
                                        <div class="form-group" id="calendar">
                                            <div class="input-group date">
                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                <input type="text" class="form-control" ng-model="esquema.fechaFin" value={{fechaFin}} style="width:150px">
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="form-group">
                                            <label class="sr-only" for="exampleInputAmount">Tiie</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" id="exampleInputAmount" ng-model="esquema.tiie" placeholder="Tiie">
                                                <div class="input-group-addon">%</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="form-group">
                                            <label class="sr-only" for="exampleInputAmount">Porcentaje Penetración</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" id="exampleInputAmount" ng-model="esquema.Porcentaje" placeholder="Porcentaje Penetración">
                                                <div class="input-group-addon">%</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                   <div class="col-md-4">
                                   <div>
                                        <div class="form-group">
                                            <label class="sr-only" for="exampleInputAmount">Tasa Intéres</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" id="exampleInputAmount" ng-model="esquema.tasaInteres" placeholder="Tasa Intéres">
                                                <div class="input-group-addon">%</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="form-group">
                                            <label class="sr-only" for="exampleInputAmount">Rango</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" id="exampleInputAmount" ng-model="esquema.rango" placeholder="Rango Días">
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="form-group">
                                            <label class="sr-only" for="exampleInputAmount">Precedencia</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" id="exampleInputAmount" ng-model="esquema.precedencia" placeholder="Precedencia">
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="form-group">
                                            <label class="sr-only" for="exampleInputAmount">Porcentaje de Penetración</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" id="exampleInputAmount" ng-model="esquema.porcentajePenetracion" placeholder="Porcentaje de Penetración">
                                                <div class="input-group-addon">%</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="form-group">
                                            <label class="sr-only" for="exampleInputAmount">Tipo Tiie</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" id="exampleInputAmount" ng-model="esquema.idTiieTipo" placeholder="Tipo Tiie">
                                            </div>
                                        </div>
                                    </div>
                                </div>  
                           
                            <div>
                                        <div>
                                            <button class="btn" ng-click=""></button>
                                        </div>
                                    </div>
                        <!--/div-->
                    </div>
            <div class="modal-footer">
                <button type="submit" class="btn  btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cerrar</button>
                <button class="btn btn-primary" ng-click="insertEsquemas()">Guardar</button>
            </div>
        </div>

    </div>
</div>
<!---->
