    .gridFontGreen {
        background-color: #1ab394;
        color: white;
    }
    
    .gridFontYellow {
        background-color: #f8ac59;
        color: white;
    }
    
    .gridFontRed {
        background-color: #ed5565;
        color: white;
    }
